.navbar-brand{
    font-weight: 900;
 }
 .category {
     padding-left: 20px;
     padding-top: 10px;
     border: 1px solid rgb(158, 167, 192);
     border-style: ridge;
     height: 800px;
 }
 .pictures {
     padding: 10px 0 20px 20px;
 }
 main {
     padding-left: 7px;
 }
 .card {
     margin: 15px;
 }
 .card-body {
    display: flex;
    flex-direction: column;
 }
.shoeBtn {
    margin-top: auto;
 }
 .badge {
     padding-left: 9px;
     padding-right: 9px;
     -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
     border-radius: 40px;
   }
   
   .label-warning[href],
   .badge-warning[href] {
     background-color: #c67605;
   }
   #cartCount {
       font-size: 12px;
       background: #ff5e00;
       color: #fff;
       padding: 0 3px;
       vertical-align: top;
       margin-left: -5px; 
   }
   